/*css Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  /* background: url("../img/body-bg.jpg") #EEF1F6 no-repeat top center; */
  font-size: 16px;
  color: #124153;
}

.modal-backdrop {
  height: 100%;
}

.page-container .navbar {
  margin-bottom: 48px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 0;
}

.navbar .navbar-header h1 {
  margin: 0;
  padding: 0;
}

.navbar .navbar-header .navbar-brand.logo {
  display: inline-block;
  padding: 0;
  width: auto;
  height: auto;
}

.main-container {
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 94px;
  box-shadow: 0 1px 2px -1px #000;
}

.main-container .page-header {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px -1px #000;
  -moz-box-shadow: 0 1px 2px -1px #000;
  box-shadow: 0 1px 2px -1px #000;
}

.main-container .page-header h2 {
  margin: 0 0 0 -2px;
  padding: 0;
  font-size: 20px;
}

.main-container .content-container {
  margin-bottom: 30px;
}

.main-container .content-container .row.shadow-container {
  margin: 0 0 0px 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.10);
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.10);
  border: solid 1px #ddd;
  border-radius: 2px;
}

.main-container .content-container .row.title-header {
  margin: 0 0 0px 0;
  padding: 15px 30px;
  -webkit-box-shadow: 0 1px 2px -1px #000;
  -moz-box-shadow: 0 1px 2px -1px #000;
  box-shadow: 0 1px 2px -1px #000;
}

.main-container .content-container .row .content {
  padding: 28px 15px;
}

/* TODO: main header 
.main-container h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: normal;
} */

.nopadding {
  padding: 0 !important;
}

.acct-selection {
  font-size: 11px;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #e91a1a;
}

.main-container .acc-selector {
  background-color: transparent;
  padding: 30px 84px 0px 84px;
}

.main-container .consent-info .white-container {
  padding: 20px 20px;
  background-color: #fff;
  margin: 0 0 0px 0;
  border-width: 1px;
  border-style: solid;
}

.main-container .aisp-footer {
  padding: 0 96px 28px 96px;
}

.btn,
.btn:hover,
btn:active {
  padding: 6px;
  min-width: 150px;
  background-image: none;
  box-shadow: none;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  font-size: 20px;
  text-shadow: none;
}

.main-container .aisp-footer button.secondary {
  border-width: 1px;
  border-style: solid;
}

.copy-right-text {
  text-align: left;
}

.term-menu-list {
  text-align: right;
}

footer .container {
  padding: 28px 15px;
}

/* footer .container .row .footer-data {
    padding: 28px 0px 38px;
} */

footer .container .row .footer-regulatory {
  padding: 16px 0px 16px;
}

footer .container .footer-links {
  margin: 0;
}

footer .container .footer-links li {
  display: inline-block;
}

footer .container .footer-links li:last-child {
  border-right: none;
}

footer .container .footer-links li a {
  text-decoration: none;
}

.modal-content .pop-confirm-header button {
  color: #fff;
  opacity: 1;
  font-size: 36px;
  line-height: 0.7;
}

/*****new cma-consent ui***/

/*.main-header{
  margin:30px 15px;
  font-size:16px;
}
*/

.main-container h5 {
  font-size: 16px;
}

.consent-header {
  font-size: 16px;
  padding-top: 15px;
}

.consent-content {
  font-size: 16px;
  line-height: 20px;
}

.acct-select {
  left: 40%;
  position: relative;
  margin-bottom: 10px;
}

.acct-select-header {
  text-align: center;
}

.main-container .consent-info .row.shadow-container.center-align {
  text-align: center;
}

.btn-allow {
  margin-left: 350px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.validity {
  padding-top: 10px;
  padding-bottom: 10px;
}

.table-margin {
  margin-left: 20px !important;
  margin-right: 20px!important;
}

.account-select {
  position: relative;
}

.account-select .account-search-box {
  margin-bottom: 30px;
}

.account-select .search-icon,
.search-icon:hover {
  position: absolute;
  min-width: 36px !important;
  top: 15px;
  right: 30px;
  border: 0px;
  padding: 3px 0px;
}

.select-act-header {
  margin: 30px 0px 60px 68px;
}

.btn-inline {
  display: inline-block;
  float: none;
}

/*table style start*/

.table-content {
  padding: 20px 60px 0px 80px;
}

table {
  border-bottom: 2px solid #ddd;
}

.table {
  margin-bottom: 0;
}

.table>tbody>tr>td:first-child,
.table>tbody>tr>th:first-child,
.table>tfoot>tr>td:first-child,
.table>tfoot>tr>th:first-child,
.table>thead>tr>td:first-child,
.table>thead>tr>th:first-child {
  padding-left: 20px;
}

.table>tbody>tr>td:last-child,
.table>tbody>tr>th:last-child,
.table>tfoot>tr>td:last-child,
.table>tfoot>tr>th:last-child,
.table>thead>tr>td:last-child,
.table>thead>tr>th:last-child {
  padding-right: 20px;
}

table.table tbody tr td {
  border: none;
}

/*table style ends*/

.remove-icon,
.remove-icon:hover,
.remove-icon:active,
.remove-icon:visited,
.remove-icon:focus {
  cursor: pointer;
  text-decoration: none;
  color: #1485AC;
  margin-top: 5px;
}

.active {
  background-color: #107fab !important;
  color: #fff !important;
}

.cursorpointer {
  cursor: pointer;
}

.btn.btn-primary[disabled] {
  background-color: #c4cbd2;
  border-color: #cfdef3;
  color: #515151;
}

.text-o {
  font-size: 0px;
}

/*checkbox css*/

.checkbox,
.radio {
  margin: 0;
  left: 24px;
}

.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}

.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 9px;
  height: 9px;
  left: 4px;
  top: 4px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"]:focus+label::before {
  outline: #7a9fd5 solid 2px;
}

.radio input[type="radio"]:checked+label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.radio input[type="radio"]:disabled {
  cursor: not-allowed;
}

.radio input[type="radio"]:disabled+label {
  opacity: 0.65;
}

.radio input[type="radio"]:disabled+label::before {
  cursor: not-allowed;
}

.radio.radio-inline {
  margin-top: 0;
}

.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  left: 0;
  margin-left: -24px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  left: 0;
  top: 0;
  margin-left: -26px;
  padding-left: 2px;
  padding-top: 0px;
  font-size: 21px;
  color: #555555;
  font-weight: normal;
  margin-top: -6px;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.checkbox input[type="checkbox"]:checked+label::after,
.checkbox input[type="radio"]:checked+label::after {
  font-family: FontAwesome;
  font-style: normal;
  content: "\f14a";
  color: #616365;
}

.checkbox input[type="checkbox"]:indeterminate+label::after,
.checkbox input[type="radio"]:indeterminate+label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}

a:focus,
.checkbox input[type="checkbox"]:focus+label::before,
.checkbox input[type="radio"]:focus+label::before {
  outline: #7a9fd5 solid 2px;
  /* 
   box-shadow: 0 0 1pt 2pt #7a9fd5;
    outline: thin solid;
    outline: 5px auto #7a9fd5;
    outline-offset: -2px;*/
}

.checkbox input[type="checkbox"]:disabled,
.checkbox input[type="radio"]:disabled {
  cursor: not-allowed;
}

.checkbox input[type="checkbox"]:disabled+label,
.checkbox input[type="radio"]:disabled+label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled+label::before,
.checkbox input[type="radio"]:disabled+label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

input[type="checkbox"].styled:checked+label:after,
input[type="radio"].styled:checked+label:after {
  font-family: 'FontAwesome';
  /*TODO:KR*/
  content: "\f00c";
}

input[type="checkbox"] .styled:checked+label::before,
input[type="radio"] .styled:checked+label::before {
  color: #fff;
}

input[type="checkbox"] .styled:checked+label::after,
input[type="radio"] .styled:checked+label::after {
  color: #fff;
}

.pagination-section {
  text-align: right;
  margin-top: 20px;
}

.logo-container {
  padding: 0px;
}

.error-container h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.button-section {
  border-bottom: 1px solid #dddddd;
  margin: 0px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.impinfo {
  margin-bottom: 3px;
}

.help-list {
  margin-bottom: 25px;
}

ul.permission-list li {
  padding-bottom: 10px;
}

ul.permission-list li h4 {
  display: inline-block;
  margin-left: 8px;
}

ul.permission-list li p {
  margin-left: 34px;
  line-height: 22px;
}

.to-date {
  padding: 0px 2px 0px 40px;
}

/************************************* Start PISP page's CSS *************************************/

.pisp-main-container {
  margin: 25px 80px;
  background-color: #fff;
  box-shadow: 0 1px 2px -1px #000;
}

.pisp-main-container .pisp-paymt-info {
  padding: 15px 10px 10px 12px;
}

.pisp-paymt-info h3 {
  color: #fff;
}

.marg-btm {
  margin-bottom: 20px;
}

.marg-top8 {
  margin-top: 8px;
}

.pay-selector {
  margin: 5px 0px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.term-selector {
  border-top: 1px solid #cecece;
  padding-top: 10px;
  margin-top: 30px;
}

.btn-inline {
  float: none;
  display: inline-block;
}

.disclamair {
  font-size: 12px;
  font-weight: small;
  color: #666c6f;
  margin-top: 45px;
}

.pisp-info-container {
  padding: 65px 30px;
}

.cursr-pointer {
  cursor: pointer;
}

.confirm-msg {
  font-size: 12px;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.dropdown-button .btn,
.dropdown-button .btn:hover,
.dropdown-button .btn:active,
.dropdown-button .btn-default:focus {
  width: 500px;
  margin: 0px;
  text-align: left;
  font-size: 16px;
  height: 40px;
  background-color: white;
  border-radius: 3px;
  padding-left: 20px;
}

.dropdown-menu-data {
  width: 500px;
  left: auto;
  font-size: 16px;
  padding-top: 0;
  margin-top: 0;
}

.dropdown-caret {
  top: 10px;
  position: relative;
}

.dropdown-menu-anchor {
  text-decoration: none;
  height: 40px;
  align-items: center;
  display: flex!important;
}

/************************************* End PISP page's CSS *************************************/

/******************* Start Common Responsive/Media query css code for Mobile Device *******************/

@media screen and (max-width: 767px) and (min-width: 320px) {
  .pisp-main-container {
    margin: 0px -15px;
  }

  .navbar .navbar-header h1 {
    margin: auto;
    width: 210px;
  }

  .container>.navbar-header {
    margin-right: 0px;
    margin-left: 0px;
  }

  .page-container .navbar {
    margin-bottom: 10px;
  }

  .main-container .page-header {
    text-align: center;
    padding: 10px 10px;
  }

  .main-container .content-container .row.shadow-container {
    padding: 10px 10px;
  }

  .main-container .content-container {
    margin-bottom: 5px;
  }

  .account-select .search-icon,
  .search-icon:hover {
    top: 5px;
    right: 10px;
  }

  .checkbox {
    left: 15px;
  }

  .btn,
  .btn:hover,
  btn:active {
    margin-left: 0px;
    margin-top: 5px;
  }

  .pagination-section {
    text-align: center;
  }

  .pagination {
    margin: 0px;
  }

  .term-cond-block {
    padding: 13px 15px;
  }

  .term-cond-block div.checkbox label {
    padding-left: 10px;
  }

  footer .container {
    padding: 10px 10px;
  }

  .copy-right-text {
    text-align: center;
  }

  .term-menu-list {
    text-align: center;
  }

  .div-view,
  .div-view-selected-account {
    margin: 0px -10px;
  }

  .div-view div.acc-cont,
  .div-view-selected-account div.acc-cont {
    margin-bottom: 10px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
  }

  .div-view div.acc-cont:last-child,
  .div-view-selected-account div.acc-cont:last-child {
    border-bottom: none;
  }

  .div-view div.acc-cont div.checkbox label {
    padding-left: 10px;
  }

  .div-view div.acc-cont p {
    padding-left: 25px;
    line-height: 20px;
  }

  .div-view-selected-account div div {
    padding: 0px;
  }

  .div-view-selected-account div.acc-cont p {
    line-height: 20px;
  }

  .panel-group .panel+.panel {
    margin-top: -1px;
  }

  .panel-title>.small,
  .panel-title>.small>a,
  .panel-title>a:hover,
  .panel-title>a:focus {
    text-decoration: none;
  }

  .panel-heading {
    cursor: pointer;
  }

  /* .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e113";
    float: right;
    color: inherit;
}
.panel-heading.collapsed .accordion-toggle:after { content: "\e114"; } */

  .btn-area {
    padding: 0px 10px !important;
    margin-bottom: 8px;
  }

  .main-container .content-container .row.title-header {
    padding: 15px 15px;
  }

  .permission-small-device-view div.panel-group div.panel {
    padding: 0px;
    border-radius: 0px;
    border-left: none;
    border-right: none;
  }

  .dropdown-button .btn,
  .dropdown-button .btn:hover,
  .dropdown-button .btn:active,
  .dropdown-button .btn-default:focus {
    width: 250px;
  }

  .dropdown-menu-data {
    width: 250px;
  }

  .checkbox label::after {
    margin-top: -2px;
  }
}

/******************* End Common Responsive/Media query css code for Mobile Device *******************/

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  z-index: 0;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .pagination>.disabled>a {
    pointer-events: none;
    cursor: not-allowed;
  }
}

.loading-spin {
  animation: loading-spin 2s infinite linear;
}

@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}